In [1]:
import json

### Load Transactions
print('Transactions Loading....')

f = open('transaction.json', 'r')

lines = f.readlines()
transaction = []

for line in lines:
    transaction.append(json.loads(line)['products'])

f.close()

print('Transactions Loaded!!')

Transactions Loading....
Transactions Loaded!!

In [2]:
from mlxtend.preprocessing import TransactionEncoder

### Transaction Encoder
print('Transactions Encoding....')

te = TransactionEncoder()
te_array = te.fit(transaction).transform(transaction)
print(te_array)
print('{} x {}'.format(str(len(te_array)), str(len(te_array[0]))))

print('Transactions Encoded!!')

Transactions Encoding....
[[False False False ... False False False]
 [False False False ... False False False]
 [False False False ... False False False]
 ...
 [False False  True ... False False False]
 [False False False ... False False False]
 [False False False ... False False False]]
37851 x 1559
Transactions Encoded!!

In [3]:
import pandas as pd

df = pd.DataFrame(te_array, columns=te.columns_)

In [4]:
df

,1,2,3,4,5,6,7,8,9,10,...,1550,1551,1552,1553,1554,1555,1556,1557,1558,1559
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37846,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
37847,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
37848,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
37849,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
37850,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [5]:
from mlxtend.frequent_patterns import fpgrowth, apriori
import numpy as np

frequent_itemsets = fpgrowth(df, min_support=0.0001, use_colnames=True)
frequent_itemsets

        support          itemsets
0      0.003752             (266)
1      0.003540             (239)
2      0.003487              (27)
3      0.003408             (711)
4      0.003302             (460)
...         ...               ...
16066  0.000211        (158, 647)
16067  0.000132       (1400, 647)
16068  0.000132       (647, 1063)
16069  0.000106        (853, 647)
16070  0.000132  (1400, 158, 647)

[16071 rows x 2 columns]

In [6]:
from mlxtend.frequent_patterns import association_rules

ar = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.9)
ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(173, 1222)",(872),0.000106,0.003699,0.000106,1.0,270.364286,0.000105,inf
1,"(104, 460)",(27),0.000106,0.003487,0.000106,1.0,286.750000,0.000105,inf
2,"(1152, 547)",(104),0.000106,0.002985,0.000106,1.0,334.964602,0.000105,inf
3,"(1152, 104)",(547),0.000106,0.003382,0.000106,1.0,295.710938,0.000105,inf
4,"(104, 393)",(27),0.000106,0.003487,0.000106,1.0,286.750000,0.000105,inf
...,...,...,...,...,...,...,...,...,...
2094,"(257, 423)",(1299),0.000106,0.003276,0.000106,1.0,305.250000,0.000105,inf
2095,"(1544, 1365)",(1388),0.000106,0.003672,0.000106,1.0,272.309353,0.000105,inf
2096,"(884, 414)",(1090),0.000106,0.002906,0.000106,1.0,344.100000,0.000105,inf
2097,"(1400, 158)",(647),0.000132,0.003117,0.000132,1.0,320.771186,0.000132,inf
2098,"(1400, 647)",(158),0.000132,0.003223,0.000132,1.0,310.254098,0.000132,inf

In [7]:
f = open('customer.json', 'r')
data = f.readline()
customer = json.loads(data)

In [8]:
import DM_process as DM

In [9]:
transactions, customers, days, details = DM.load_dataset()

Customers Information Loading....
Customers Information Loaded!!
Time-Day Information Loading....
Time-Day Information Loaded!!
Transactions Loading....
Transactions Loaded!!

In [10]:
array, col = DM.transaction_encode(transactions)

Transactions Encoding....
Size: 37851 x 1559
Transactions Encoded!!

In [11]:
array, col = DM.transaction_encode(customers)

Transactions Encoding....
Size: 10281 x 41
Transactions Encoded!!

In [12]:
array

array([[False, False,  True, ..., False, False, False],
       [ True,  True, False, ..., False,  True, False],
       [False,  True,  True, ...,  True, False, False],
       ...,
       [ True, False,  True, ..., False, False, False],
       [False, False,  True, ..., False, False, False],
       [ True, False,  True, ...,  True, False, False]])

In [13]:
df = pd.DataFrame(array, columns=col)
df

,0,1,2,3,4,5,BC,Bachelors Degree,CA,Clerical,...,Yucatan,Zacatecas,"[10000, 30000]","[110000, 130000]","[130000, 150000]",[150000],"[30000, 50000]","[50000, 70000]","[70000, 90000]","[90000, 110000]"
0,False,False,True,False,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,True,True,False,True,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,False,True,True,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,True,False,True,False,True,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4,True,False,False,True,False,False,False,False,True,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10276,False,False,False,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
10277,True,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False
10278,True,False,True,True,False,False,False,False,True,False,...,False,False,False,False,True,False,False,False,False,False
10279,False,False,True,False,False,True,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
10280,True,False,True,False,False,True,True,True,False,False,...,False,False,False,False,False,False,False,True,False,False

In [14]:
frequent_itemsets = fpgrowth(df, min_support=0.05, use_colnames=True)
frequent_itemsets

      support                                    itemsets
0    0.601790                                         (Y)
1    0.495769                                         (F)
2    0.471549                                         (2)
3    0.323607                            ([30000, 50000])
4    0.315436                                         (4)
..        ...                                         ...
763  0.069059                  (Y, High School Degree, 1)
764  0.058166                  (M, High School Degree, 1)
765  0.098726                  (Y, High School Degree, 0)
766  0.116039     (Y, High School Degree, [30000, 50000])
767  0.061764  (Y, High School Degree, [30000, 50000], 0)

[768 rows x 2 columns]

In [15]:
rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.9)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(Skilled Manual, High School Degree, Y)","([30000, 50000])",0.065363,0.323607,0.058944,0.901786,2.786672,0.037792,6.886914
1,"(M, High School Degree, Skilled Manual)","([30000, 50000])",0.056707,0.323607,0.051260,0.903945,2.793345,0.032909,7.041738
2,"([50000, 70000], Professional)",(Bachelors Degree),0.101936,0.254742,0.096975,0.951336,3.734511,0.071008,15.314326
3,"([50000, 70000], 0, Professional)",(Bachelors Degree),0.066336,0.254742,0.062543,0.942815,3.701063,0.045644,13.032465
4,"(Y, [50000, 70000], Professional)",(Bachelors Degree),0.056804,0.254742,0.053691,0.945205,3.710446,0.039221,13.600963
5,"([10000, 30000])",(Partial High School),0.216127,0.300943,0.200564,0.927993,3.083611,0.135522,9.708147
6,"(M, [10000, 30000])",(Partial High School),0.108258,0.300943,0.100866,0.931716,3.095984,0.068286,10.237499
7,"(M, [10000, 30000], 1)",(Partial High School),0.069546,0.300943,0.064974,0.934266,3.104456,0.044045,10.634583
8,"(M, Y, [10000, 30000])",(Partial High School),0.062348,0.300943,0.058360,0.936037,3.110343,0.039597,10.929152
9,"(M, [10000, 30000], 0)",(Partial High School),0.079370,0.300943,0.074020,0.932598,3.098914,0.050134,10.371457
10,"(Skilled Manual, [10000, 30000])",(Partial High School),0.103297,0.300943,0.099115,0.959510,3.188341,0.068028,17.265070
11,"(Skilled Manual, [10000, 30000], 1)",(Partial High School),0.067406,0.300943,0.064780,0.961039,3.193420,0.044494,17.942450
12,"(Skilled Manual, Y, [10000, 30000])",(Partial High School),0.057679,0.300943,0.055637,0.964587,3.205209,0.038278,19.740024
13,"(Skilled Manual, 0, [10000, 30000])",(Partial High School),0.073436,0.300943,0.070227,0.956291,3.177644,0.048126,15.993566
14,"(N, [10000, 30000])",(Partial High School),0.092501,0.300943,0.084914,0.917981,3.050344,0.057076,8.523112
15,"(N, 0, [10000, 30000])",(Partial High School),0.077424,0.300943,0.071005,0.917085,3.047368,0.047704,8.431045
16,"(N, [10000, 30000], 1)",(Partial High School),0.059819,0.300943,0.055442,0.926829,3.079745,0.037440,9.553772
17,"(2, [10000, 30000])",(Partial High School),0.089583,0.300943,0.082677,0.922910,3.066722,0.055717,9.068043
18,"(2, 0, [10000, 30000])",(Partial High School),0.055928,0.300943,0.051843,0.926957,3.080168,0.035012,9.570417
19,"([10000, 30000], 1)",(Partial High School),0.139092,0.300943,0.129268,0.929371,3.088190,0.087409,9.897533
20,"(0, [10000, 30000], 1)",(Partial High School),0.088707,0.300943,0.082580,0.930921,3.093342,0.055884,10.119675
21,"(Y, [10000, 30000])",(Partial High School),0.123626,0.300943,0.115650,0.935484,3.108503,0.078446,10.835376
22,"(Y, [10000, 30000], 1)",(Partial High School),0.079272,0.300943,0.073826,0.931288,3.094562,0.049969,10.173769
23,"(Y, 0, [10000, 30000])",(Partial High School),0.077230,0.300943,0.072756,0.942065,3.130373,0.049514,12.066323
24,"(0, [10000, 30000])",(Partial High School),0.154654,0.300943,0.143760,0.929560,3.088818,0.097218,9.924106
25,"(F, [10000, 30000])",(Partial High School),0.107869,0.300943,0.099698,0.924256,3.071195,0.067236,9.229210
26,"(F, 0, [10000, 30000])",(Partial High School),0.075285,0.300943,0.069740,0.926357,3.078175,0.047084,9.492452
27,"(Y, F, [10000, 30000])",(Partial High School),0.061278,0.300943,0.057290,0.934921,3.106632,0.038849,10.741600
28,"(F, [10000, 30000], 1)",(Partial High School),0.069546,0.300943,0.064293,0.924476,3.071924,0.043364,9.256026
29,"([10000, 30000], Manual)",(Partial High School),0.105145,0.300943,0.101449,0.964847,3.206075,0.069806,19.886318
30,"(0, [10000, 30000], Manual)",(Partial High School),0.075771,0.300943,0.073534,0.970475,3.224775,0.050731,23.676740
31,"(Y, [10000, 30000], Manual)",(Partial High School),0.061959,0.300943,0.060014,0.968603,3.218554,0.041367,22.264950
32,"(F, [10000, 30000], Manual)",(Partial High School),0.051746,0.300943,0.050092,0.968045,3.216701,0.034520,21.876357
33,"(Manual, [10000, 30000], 1)",(Partial High School),0.067114,0.300943,0.064488,0.960870,3.192857,0.044290,17.864778
34,"(M, [10000, 30000], Manual)",(Partial High School),0.053399,0.300943,0.051357,0.961749,3.195778,0.035287,18.275335
35,"(CA, [10000, 30000])",(Partial High School),0.089875,0.300943,0.083455,0.928571,3.085534,0.056408,9.786791
36,"([10000, 30000], CA, 0)",(Partial High School),0.062737,0.300943,0.058457,0.931783,3.096206,0.039577,10.247533
37,"(CA, [10000, 30000], 1)",(Partial High School),0.059430,0.300943,0.055150,0.927987,3.083592,0.037265,9.707353
38,"(High School Degree, 3, Manual)","([30000, 50000])",0.056317,0.323607,0.051649,0.917098,2.833991,0.033424,8.158995
39,"(High School Degree, Manual)","([30000, 50000])",0.113899,0.323607,0.102714,0.901793,2.786696,0.065855,6.887449
40,"(High School Degree, 0, Manual)","([30000, 50000])",0.072561,0.323607,0.065947,0.908847,2.808494,0.042466,7.420433
41,"(M, High School Degree, Manual)","([30000, 50000])",0.059138,0.323607,0.053497,0.904605,2.795385,0.034359,7.090468

In [16]:
array, col = DM.transaction_encode(details)

Transactions Encoding....
Size: 37851 x 67
Transactions Encoded!!

In [17]:
array

array([[False, False, False, ..., False, False,  True],
       [False, False, False, ...,  True, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ...,  True, False, False]])

In [18]:
df = pd.DataFrame(array, columns=col)
df

,April,August,Baking Goods,Bathroom Products,Beer and Wine,Bread,Breakfast Foods,Candles,Candy,Canned Anchovies,...,Starchy Foods,Vegetables,"[10000, 30000]","[110000, 130000]","[130000, 150000]",[150000],"[30000, 50000]","[50000, 70000]","[70000, 90000]","[90000, 110000]"
0,False,False,False,False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,True,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,True,False,False,False
4,False,False,False,False,False,True,False,False,False,False,...,False,True,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37846,False,False,False,False,True,True,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
37847,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,True,False,False,False
37848,False,False,False,False,False,False,True,False,False,False,...,False,True,True,False,False,False,False,False,False,False
37849,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,True,False,False,False
37850,False,False,False,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,True,False,False

In [22]:
frequent_itemsets = fpgrowth(df, min_support=0.005, use_colnames=True)
frequent_itemsets

       support                                itemsets
0     0.505667                                     (F)
1     0.436607                            (Vegetables)
2     0.420544                           (Snack Foods)
3     0.192254                      (Jams and Jellies)
4     0.130591                           (Canned Soup)
...        ...                                     ...
4286  0.005416  (Vegetables, [70000, 90000], December)
4287  0.005020           (M, [70000, 90000], December)
4288  0.006420           (F, [70000, 90000], December)
4289  0.005152          (F, Frozen Desserts, December)
4290  0.005046          (M, Frozen Desserts, December)

[4291 rows x 2 columns]

In [42]:
rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.563)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(Snack Foods, [30000, 50000], Dairy, Jams and ...",(M),0.009009,0.494333,0.005099,0.565982,1.144941,0.000645,1.165084
1,"(Fruit, Snack Foods, Canned Soup)",(Vegetables),0.012787,0.436607,0.007371,0.576446,1.320287,0.001788,1.330158
2,"([50000, 70000], Snack Foods, Canned Soup)",(F),0.009696,0.505667,0.005601,0.577657,1.142366,0.000698,1.170453
3,"([70000, 90000], Paper Products)",(F),0.014478,0.505667,0.008164,0.563869,1.115099,0.000843,1.133450
4,"([50000, 70000], Paper Products)",(F),0.019682,0.505667,0.011123,0.565101,1.117535,0.001170,1.136661
5,"(Vegetables, [50000, 70000], Paper Products)",(F),0.008930,0.505667,0.005152,0.576923,1.140915,0.000636,1.168424
6,"(Frozen Desserts, Snack Foods, Jams and Jellies)",(Vegetables),0.009907,0.436607,0.005680,0.573333,1.313157,0.001355,1.320453
7,"(Vegetables, Meat, [30000, 50000], Dairy)",(M),0.009564,0.494333,0.005416,0.566298,1.145581,0.000688,1.165933
8,"(Vegetables, Baking Goods, Bread)",(F),0.009987,0.505667,0.005812,0.582011,1.150976,0.000762,1.182645
9,"(F, Meat, Specialty)",(Vegetables),0.010356,0.436607,0.005839,0.563776,1.291266,0.001317,1.291521
10,"([70000, 90000], Specialty)",(F),0.010806,0.505667,0.006314,0.584352,1.155607,0.000850,1.189307
11,"(Specialty, Canned Soup)",(F),0.011043,0.505667,0.006288,0.569378,1.125994,0.000704,1.147951
12,"(Breakfast Foods, [30000, 50000], Jams and Jel...",(M),0.009432,0.494333,0.005337,0.565826,1.144626,0.000674,1.164665
13,"(Vegetables, [50000, 70000], Breakfast Foods)",(F),0.010990,0.505667,0.006393,0.581731,1.150423,0.000836,1.181854
14,"([70000, 90000])",(F),0.122058,0.505667,0.069774,0.571645,1.130477,0.008053,1.154027
15,"(Vegetables, [70000, 90000], Snack Foods)",(F),0.023540,0.505667,0.013421,0.570146,1.127513,0.001518,1.150002
16,"([70000, 90000], Jams and Jellies)",(F),0.023725,0.505667,0.013817,0.582405,1.151757,0.001821,1.183763
17,"(Vegetables, [70000, 90000], Jams and Jellies)",(F),0.011202,0.505667,0.006763,0.603774,1.194014,0.001099,1.247602
18,"(Breakfast Foods, [70000, 90000])",(F),0.017727,0.505667,0.010462,0.590164,1.167100,0.001498,1.206173
19,"(Vegetables, [70000, 90000])",(F),0.054847,0.505667,0.031228,0.569364,1.125967,0.003494,1.147914
20,"([70000, 90000], Dairy)",(F),0.032839,0.505667,0.019048,0.580048,1.147095,0.002443,1.177119
21,"(Vegetables, [70000, 90000], Dairy)",(F),0.014161,0.505667,0.008481,0.598881,1.184338,0.001320,1.232384
22,"([70000, 90000], Snack Foods, Dairy)",(F),0.013130,0.505667,0.007635,0.581489,1.149944,0.000996,1.181171
23,"([70000, 90000], Baking Goods)",(F),0.018203,0.505667,0.010330,0.567489,1.122259,0.001125,1.142938
24,"(Vegetables, [70000, 90000], Baking Goods)",(F),0.008639,0.505667,0.005125,0.593272,1.173247,0.000757,1.215390
25,"([70000, 90000], Bread)",(F),0.017305,0.505667,0.009881,0.570992,1.129187,0.001130,1.152271
26,"([70000, 90000], Fruit, Snack Foods)",(F),0.011096,0.505667,0.006261,0.564286,1.115924,0.000650,1.134535
27,"([70000, 90000], Meat)",(F),0.027080,0.505667,0.016063,0.593171,1.173046,0.002370,1.215087
28,"(Vegetables, Meat, [70000, 90000])",(F),0.012787,0.505667,0.007847,0.613636,1.213519,0.001381,1.279450
29,"([70000, 90000], Meat, Snack Foods)",(F),0.011175,0.505667,0.006552,0.586288,1.159436,0.000901,1.194874
30,"([70000, 90000], Canned Soup)",(F),0.015640,0.505667,0.009247,0.591216,1.169181,0.001338,1.209278
31,"(Starchy Foods, [70000, 90000])",(F),0.010964,0.505667,0.006446,0.587952,1.162725,0.000902,1.199697
32,"(Jams and Jellies, Plastic Products)",(Vegetables),0.009035,0.436607,0.005390,0.596491,1.366198,0.001445,1.396236
33,"([50000, 70000], Carbonated Beverages)",(F),0.009722,0.505667,0.005548,0.570652,1.128514,0.000632,1.151358
34,"([70000, 90000], Candy)",(F),0.013342,0.505667,0.007794,0.584158,1.155224,0.001047,1.188753
35,"(Vegetables, Candy, [10000, 30000])",(F),0.012153,0.505667,0.006869,0.565217,1.117766,0.000724,1.136966
36,"([70000, 90000], Eggs)",(F),0.008798,0.505667,0.005284,0.600601,1.187739,0.000835,1.237691
37,"(Vegetables, Eggs, [30000, 50000])",(F),0.010779,0.505667,0.006129,0.568627,1.124510,0.000679,1.145954
38,"(Eggs, Jams and Jellies)",(F),0.012417,0.505667,0.007133,0.574468,1.136060,0.000854,1.161683
39,"(Vegetables, [30000, 50000], Pain Relievers)",(M),0.010119,0.494333,0.005786,0.571802,1.156713,0.000784,1.180917
40,"(Paper Products, Pain Relievers)",(Vegetables),0.008956,0.436607,0.005099,0.569322,1.303969,0.001189,1.308153
41,"(Hygiene, Jams and Jellies)",(Snack Foods),0.011598,0.420544,0.006605,0.569476,1.354142,0.001727,1.345933
42,"(Magazines, Jams and Jellies)",(Vegetables),0.014372,0.436607,0.008111,0.564338,1.292555,0.001836,1.293190
43,"(Paper Products, Magazines)",(Snack Foods),0.010647,0.420544,0.005997,0.563275,1.339398,0.001520,1.326823
44,"([70000, 90000], Magazines)",(F),0.008930,0.505667,0.005469,0.612426,1.211125,0.000953,1.275455
45,"(Kitchen Products, [70000, 90000])",(F),0.008771,0.505667,0.005495,0.626506,1.238970,0.001060,1.323537
46,"(Baking Goods, Pure Juice Beverages)",(F),0.008983,0.505667,0.005231,0.582353,1.151653,0.000689,1.183614
47,"(Meat, [110000, 130000])",(M),0.009934,0.494333,0.005812,0.585106,1.183628,0.000902,1.218787
48,"(February, [70000, 90000])",(F),0.010488,0.505667,0.006156,0.586902,1.160649,0.000852,1.196648
49,"([70000, 90000], March)",(F),0.010964,0.505667,0.006314,0.575904,1.138899,0.000770,1.165615
50,"([50000, 70000], March)",(F),0.013923,0.505667,0.007873,0.565465,1.118256,0.000833,1.137614
51,"(April, Electrical)",(F),0.009194,0.505667,0.005257,0.571839,1.130861,0.000608,1.154550
52,"(April, [70000, 90000])",(F),0.008824,0.505667,0.005125,0.580838,1.148658,0.000663,1.179337
53,"(May, [70000, 90000])",(F),0.009828,0.505667,0.005707,0.580645,1.148276,0.000737,1.178794
54,"(June, [70000, 90000])",(F),0.009300,0.505667,0.005390,0.579545,1.146101,0.000687,1.175711
55,"([50000, 70000], July)",(F),0.014742,0.505667,0.008428,0.571685,1.130556,0.000973,1.154133
56,"(September, [70000, 90000])",(F),0.010356,0.505667,0.006156,0.594388,1.175453,0.000919,1.218733
57,"([70000, 90000], October)",(F),0.009643,0.505667,0.005680,0.589041,1.164880,0.000804,1.202877
58,"(Vegetables, October, Dairy)",(F),0.008956,0.505667,0.005152,0.575221,1.137550,0.000623,1.163742